parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$dateTime of static method Spatie\\IcalendarGenerator\\ValueObjects\\DateTimeValue\:\:create\(\) expects DateTimeInterface, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Components/Event.php

		-
			message: '#^Strict comparison using \=\=\= between list\<array\{ts\: int, time\: string, offset\: int, isdst\: bool, abbr\: string\}\> and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Timezones/TimezoneTransitionsResolver.php

		-
			message: '#^Call to an undefined method DateTimeInterface\:\:setTimezone\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ValueObjects/DateTimeValue.php

		-
			message: '#^Property Spatie\\IcalendarGenerator\\ValueObjects\\DateTimeValue\:\:\$dateTime \(DateTimeInterface\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/ValueObjects/DateTimeValue.php

		-
			message: '#^Strict comparison using \=\=\= between DateTimeZone and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/ValueObjects/DateTimeValue.php

