<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>

  <testsuites>
    <testsuite name="Spatie Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <logging>
    <junit outputFile="build/report.junit.xml"/>
  </logging>

  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>

  <source>
    <include>
      <directory>src/</directory>
    </include>
  </source>
</phpunit>
